#app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#footer {
	background-color: #222;

	p {
		margin: 20px 0px;
	}
}

main {
	flex: 1;
}

a, label {
	cursor: pointer;
}

.row {
	margin-bottom: 10px;
}

#sidebar.affix {
	position: fixed;
	top: 20px;
}

ul {
	padding-left: 10px;
}
li {
	list-style: none;
}

.btn-naked {
	&, &:hover, &:focus, &:active {
		background: none;
		color: #337AB7;
		box-shadow: none;
	}
}

.block {
	margin-bottom: 10px;
}
